{% extends 'base.html' %}


{% block main%}

<div class="pt-4 w-100 h-100">

    
   


    <!-- if data start -->
    {% if object_list%}
    <div class="add-event d-flex justify-content-end container mb-5">
        <a href="/event/create" class="btn btn-primary">Add Event</a>
    </div>
    <div class="data">
        <table class="table table-bordered table-striped align-middle mb-0 bg-white">
            <thead class="bg-light">
                <tr class="text-info">
                    <th class="col-1">S.N.</th>
                    <th class="col-3">Activity Code/Name</th>
                    <th class="col-2">Venue</th>
                    <th class="col-2">Community</th>
                    <th class="col-2">Dates</th>
                    <th class="col-2">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for event in object_list %}
                <tr>

                    <!-- continue entry data start -->
                    <td>
                        1
                    </td>
                    <td>
                        <p class="fw-normal mb-1">{{event.activity.code}}</p>
                        <p class="text-muted mb-0">{{event.activity.name}}</p>
                    </td>
                    <td>
                        <p>
                            Province: <span class="fw-bold">{{event.province}}</span> <br>
                            District: <span class="fw-bold">{{event.district}}</span> <br>
                            Palika: <span class="fw-bold">{{event.palika}}</span> <br>
                            Ward: <span class="fw-bold">{{event.ward}}</span>
                        </p>
                    </td>
                    <td>
                        <p>
                            {{event.community}}
                        </p>
                    </td>
                    <td>
                        <p>
                            Start: <span class="fw-bold">{{event.start_date}}</span> <br>
                            End: <span class="fw-bold">{{event.end_date}}</span> <br>
                            Days: <span class="fw-bold">{{event.days}}</span>
                        </p>
                    </td>
                    <td>
                        {% if 'Role A' in current_roles and not event.submit_one %}
                        <!-- Role A User Controls -->
                        {% include 'my_data/elements/event_controls.html' %}
                        {%else%}

                        {% if 'Role B' in current_roles and not event.submit_two %}
                        <!-- Role B User Controls -->
                        {% include 'my_data/elements/event_controls.html' %}
                        {%else%}

                        {% if 'Role C' in current_roles and not event.submit_three %}
                        <!-- Role C User Controls -->
                        {% include 'my_data/elements/event_controls.html' %}
                        {%else%}
                        <a href="/event/{{event.id}}/participant/list" type="button"
                            class="btn mb-2 btn-primary btn-sm small btn-rounded">
                            View
                        </a>
                        {%endif%}
                        {%endif%}
                        {%endif%}
                    </td>
                </tr>

                {% endfor %}




            </tbody>
        </table>
    </div>

    <!-- if data end -->

    {% else %}
    <!-- if no data start -->

    <div class="d-flex w-100 justify-content-center align-items-center" style="height: 80vh;">
        <div>
            <div class="text-center">
                <img src="https://media.istockphoto.com/id/1001237686/vector/document-with-tables-icon-vector-sign-and-symbol-isolated-on-white-background-document-with.jpg?s=612x612&w=0&k=20&c=KWxJs6gpwY1FzMuaBo0Bhi49_XcN4SwCYdFMWpn9E3k="
                    height="150" alt="">

                <br>
                No Data Present
            </div>
            <br>
            <a href="/event/create" class="btn btn-primary btn-lg px-5">Add Data</a>

        </div>
    </div>

    <!-- if no data end -->
    {% endif %}


</div>


{% endblock %}