{% extends 'base.html' %}
{% load static %}
{% block main%}
<div>
  <div class="activity">



    <div class="d-none">
      <div id="event_start_date">{{current_event.start_date}}</div>
      <div id="event_end_date">{{current_event.end_date}}</div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-lg-3">
          <label for="activity">Activity Code</label>

          <select class="form-select" id="activity" disabled>
            <option value="{{current_event.activity.code}}">{{current_event.activity.code}}</option>
          </select>
        </div>

        <div class="col-lg-3">
          <label for="activity-name">Activity Name</label>
          <input class="form form-control" type="text" disabled id="activity-name"
            value="{{current_event.activity.name}}" />
        </div>

        <div class="col-lg-3">
          <div>
            <label for="start-date">Start Date</label>
            <input id="start_date" type="date" class="form-control" disabled />
          </div>
        </div>

        <div class="col-lg-3">
          <label for="start-date">End Date</label>
          <input id="end_date" type="date" class="form-control" disabled />
        </div>
      </div>
    </div>

    <!-- venue section -->
    <div class="venue-section mt-3 container">
      <div class="row">
        <div class="col-lg-3">
          <label for="province-select">Province</label>
          <select class="form-select" id="province-select" disabled>
            {% if data_entry_page %}
            <option value="{{current_event.province}}">{{current_event.province}}</option>
            {% else %}
            <option value="">Select a province</option>
            {% endif %}
          </select>
        </div>
        <div class="col-lg-3">
          <label for="district-select">District</label>
          <select class="form-select" id="district-select" disabled>
            <option value="{{current_event.district}}">{{current_event.district}}</option>
          </select>
        </div>
        <div class="col-lg-3">
          <label for="palika-select">Palika</label>
          <select class="form-select" id="palika-select" disabled>
            <option value="{{current_event.palika}}">{{current_event.palika}}</option>
          </select>
        </div>
        <div class="col-lg-3">
          <label for="ward">Ward</label>
          <input class="form-control" placeholder="Valid (1 to 35)" type="number" min="1" max="35"
            value="{{current_event.ward}}" disabled oninput="validity.valid||(value='');" required/>
        </div>


        <div class="person-responsible col-lg-6">
          <div class="form-group mt-3">
            <label for="responsible">Person Responsible</label>
            <input type="text" class="form-control" id="responsible" value="{{current_event.person_responsible}}" name="person_responsible" required  disabled/>
          </div>
        </div>

        <div class="person-responsible col-lg-6">
          <div class="form-group mt-3">
            <label for="responsible">Community</label>
            <input type="text" class="form-control" id="responsible" value="{{current_event.community}}" name="community" required  disabled/>
          </div>
        </div>

      </div>



    
    </div>


    <!-- Modal TO Add Participant Start -->
    <div class="add-data container">
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-primary mt-5" data-mdb-toggle="modal" data-mdb-target="#staticBackdrop">
        Add Participant Data
      </button>

      <!-- Modal -->
      <div class="modal fade" id="staticBackdrop" data-mdb-backdrop="static" data-mdb-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
          <div class="modal-content">
            <form method="POST">
              {% csrf_token%}
              <div class="modal-body">
                <div class="participant-data">
                  <div class="row">
                    <div class="col-lg-4">
                      <div class="form-group mb-3">
                        <label for="name">Name of Participant</label>
                        <input type="text" class="form-control" id="name" name="name" required />
                      </div>
                      <div class="form-group mb-3">
                        <label for="organization">Affiliated Organization</label>
                        <input type="text" class="form-control" id="organization" name="affiliated_org" required />
                      </div>
                      <div class="form-group mb-3">
                        <label for="designation">Designation</label>
                        <input type="text" class="form-control" id="designation" name="designation" required />
                      </div>

                      <div class="form-group mb-3">
                        <label for="email">Email ID</label>
                        <input type="email" class="form-control" id="email" name="email" required />
                      </div>
                    </div>

                    <div class="col-lg-4">
                      <div class="form-group mb-3">
                        <label for="age">Age</label>
                        <input type="number" class="form-control" id="age" name="age" required />
                      </div>
                      <div class="form-group mb-3">
                        <label for="sex">Sex</label>
                        <select class="form-select" id="sex" name="gender" required>
                          <option value="">-- Select --</option>
                          <option value="male">Male</option>
                          <option value="female">Female</option>
                          <option value="other">Other</option>
                        </select>
                      </div>
                      <div class="form-group mb-3">
                        <label for="ethnicity">Ethnicity</label>
                        <select class="form-select" id="ethnicity" name="ethnicity" required>
                          <option value="">-- Select --</option>
                          {% for eth in ethnicity_choices %}
                          <option value="{{eth.0}}">{{eth.1}}</option>
                          {% endfor %}
                        </select>
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="form-group mb-3">
                        <label for="pwd">Pwd Status</label>
                        <select class="form-select" id="pwd" name="pwd" required>
                          <option value="">-- Select --</option>
                          <option value="True">Yes</option>
                          <option value="False">No</option>
                        </select>
                      </div>
                      <div class="form-group mb-3">
                        <label for="category">Participation Category</label>
                        <select class="form-select" id="category" name="participation_category">
                          <option value="">-- Select --</option>
                          {% for item in participation_category_data %}
                          <option value="{{item}}">{{item}}</option>
                          {% endfor %}
                        </select>
                      </div>
                      <div class="form-group mb-3">
                        <label for="contact">Contact Number</label>
                        <input type="text" class="form-control" id="contact" name="contact" required />
                      </div>

                      
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-mdb-dismiss="modal">
                  Close
                </button>
                <input type="submit" class="btn btn-primary" name="participant_submit" vlaue="Upload Data">
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal to AdD Participant Data End -->

    <!-- Participant Data Table -->
    {% if participants %}
    <table class="table table-bordered table-striped align-middle mb-0 bg-white border-top mt-5 table-sm mb-5">
      <thead>
        <tr class="text-info">
          <th class="col small fw-bold">S.N.</th>
          <th class="col small fw-bold">Name</th>
          <th class="col small fw-bold">Aff. Org</th>
          <th class="col small fw-bold">Designation</th>
          <th class="col small fw-bold">Email</th>
          <th class="col small fw-bold">Age</th>
          <th class="col small fw-bold">Sex</th>
          <th class="col small fw-bold">Ethnicity</th>
          <th class="col small fw-bold">PwD</th>
          <th class="col small fw-bold">Part. Category</th>
          <th class="col small fw-bold">Contact</th>
          <th class="col small fw-bold">Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for participant in participants %}
        <tr>
          <td class="col small">{{forloop.counter}}</td>
          <td class="col small">{{participant.name}}</td>
          <td class="col small">{{participant.affiliated_org}}</td>
          <td class="col small">{{participant.designation}}</td>
          <td class="col small">{{participant.email}}</td>
          <td class="col small">{{participant.age}}</td>
          <td class="col small">{{participant.gender}}</td>
          <td class="col small">{{participant.ethnicity}}</td>
          <td class="col small">{{participant.pwd}}</td>
          <td class="col small">{{participant.participation_category.name}}</td>
          <td class="col small">{{participant.contact}}</td>
          <td>
            {% if not current_event.submitted_one %}
            {% if "Role A" in current_roles %}
            <a href="/event/participant/update/{{participant.id}}" class="btn btn-sm btn-primary">Edit</a>
            <a href="/event/participant/delete/{{participant.id}}" class="btn btn-sm btn-danger mt-2">Delete</a>
            {% endif %}
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endif %}
    <!-- Participant Data Table End -->

    {% if participants %}
    <form method="POST">
      {% csrf_token %}
    <div class="container">
      <div class="d-flex justify-content-end">
        <input type="submit" class="btn btn-success" value="Save & Submit Data" name="save_submit">
      </div>
      <div class="small text-end">**Once you submit data you cannot edit or delete it.</div>
    </div>
  </form>
    {% endif %}
  </div>
</div>


{% endblock %}


{% block js %}
<script>
  function formatDateInput(dateString) {
    const dateObj = new Date(dateString);
    const year = dateObj.getFullYear();
    const month = String(dateObj.getMonth() + 1).padStart(2, '0');
    const day = String(dateObj.getDate()).padStart(2, '0');
    const formattedDate = `${year}-${month}-${day}`;
    return formattedDate;

  }

  $('#start_date').val(formatDateInput($('#event_start_date').html()))
  $('#end_date').val(formatDateInput($('#event_end_date').html()))
</script>
{% endblock %}