{% extends 'base.html' %}


{% block main%}
<form method="POST">
  {% csrf_token %}
  <div class="participant-data container">
    <div class="row">
      <div class="col-lg-4">
        <div class="form-group mb-3">
          <label for="name">Name of Participant</label>
          <input type="text" class="form-control" id="name" name="name" value="{{object.name}}" />
        </div>
        <div class="form-group mb-3">
          <label for="organization">Affiliated Organization</label>
          <input type="text" class="form-control" id="organization" name="affiliated_org"
            value="{{object.affiliated_org}}" />
        </div>
        <div class="form-group mb-3">
          <label for="designation">Designation</label>
          <input type="text" class="form-control" id="designation" name="designation" value="{{object.designation}}" />
        </div>

        <div class="form-group mb-3">
          <label for="email">Email ID</label>
          <input type="email" class="form-control" id="email" name="email" value="{{object.email}}" />
        </div>
      </div>

      <div class="col-lg-4">
        <div class="form-group mb-3">
          <label for="age">Age</label>
          <input type="number" class="form-control" id="age" name="age" value="{{object.age}}" />
        </div>
        <div class="form-group mb-3">
          <label for="sex">Sex</label>
          <select class="form-select" id="sex" name="gender">
            <option value="">-- Select --</option>
            <option value="male" {% if object.gender == 'male' %}selected{% endif %}>Male</option>
            <option value="female" {% if object.gender == 'female' %}selected{% endif %}>Female</option>
            <option value="other" {% if object.gender == 'other' %}selected{% endif %}>Other</option>
          </select>
        </div>
        <div class="form-group mb-3">
          <label for="ethnicity">Ethnicity</label>
          <select class="form-select" id="ethnicity" name="ethnicity">
            <option value="">-- Select --</option>
            {% for eth in ethnicity_choices %}
            <option value="{{eth.0}}" {% if object.ethnicity.lower == eth.0 %}selected{%endif%}>{{eth.1}}</option>
            {% endfor %}
          </select>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="form-group mb-3">
          <label for="pwd">Pwd Status</label>
          <div class="form-group mb-3">
            <select class="form-select" id="pwd" name="pwd">
              <option value="">-- Select --</option>
              <option value="True" {% if object.pwd %}selected{% endif %}>Yes</option>
              <option value="False" {% if not object.pwd %}selected{% endif %}>No</option>
            </select>
          </div>
          
        </div>
        <div class="form-group mb-3">
          <label for="category">Participation Category</label>
          <select class="form-select" id="category" name="participation_category">
            <option value="">-- Select --</option>
            {% for item in participation_category_data %}
            <option value="{{item.id}}" {% if object.participation_category.id == item.id %}selected{% endif %}>{{item.name}}</option>
            {% endfor %}
          </select>
        </div>
        <div class="form-group mb-3">
          <label for="contact">Contact Number</label>
          <input type="text" class="form-control" id="contact" name="contact" value="{{object.contact}}" />
        </div>

      </div>
    </div>
    <div class="d-flex justify-content-end">
      <button type="submit" class="btn btn-info">Update Participant Data</button>
    </div>
  </div>


</form>

{% endblock %}